@import '../../imports/colors.less';

//====================
//     Variables
//====================
//~> Both
@cRadioSize:       15px;
@cRadioTransition: background-color 350ms ease-in-out, border 350ms ease-in-out;

//~> Inactive
@cRadioIBGColor:  #d1d3d1;
@cRadioIBorder:   2px solid white;

//~> Active
@cRadioABGColor:  @moh-grn-800;
@cRadioABorder:   1px solid rgba(0,0,0,0);

.form-check-input[type='radio'] {

  // Hide Default
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  // Both
  &:after, &.selected:after {
    height:           @cRadioSize;
    width:            @cRadioSize;
    border-radius:    @cRadioSize;
    top:              -3px;
    left:             -1px;
    position:         relative;
    content:          '';
    display:          inline-block;
    visibility:       visible;
    transition:       @cRadioTransition;
  }

  // Inactive
  &:after {
    background-color: @cRadioIBGColor;
    border:           @cRadioIBorder;
  }

  // Active
  &.selected:after {
    background-color: @cRadioABGColor;
    border:           @cRadioABorder;
  }

}