@import '../../imports/colors.less';

/* Main Body (not Navbar) */
#body {
  padding-top: 0;
  padding-bottom: 0;
  max-width: 1180px;
  @media (max-width: 499px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: 500px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 720px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* "Government of Ontario Geocoder" */
h1.display-5 {
  font-size: 1.5rem;
  padding-top: 6px;
  padding-bottom: 11px;
}
