// Styles Shared by All Cards
.card.card-header {
  padding-top:      2px;
  padding-bottom:   6px;
  .btn {
    border-width:   0;
    padding-top:    16px;
    padding-bottom: 16px;
  }
}

.form {
  &-feedback-text {
    transition: opacity 1s ease-in-out;
    opacity: 0;
    &#mappingFeedbackText {
      opacity: 1;
    }
  }
  &-status {
    &-img {
      opacity: 0;
      width: 32px;
      height: 32px;
      transition: opacity 0.75s ease-in-out;
      &.active {
        opacity: 1;
      }
    }
  }
  &.valid {
    .form-feedback-text {
        transition: opacity 0.5s ease-in-out;
        color: #29784D;
        opacity: 0;
        &#mappingFeedbackText {
          opacity: 1;
        }
      }
  }
  &.invalid {
    .form-feedback-text {
      opacity: 1;
    }
  }
}

/* 02-04: Shared */
.card-body.main-card {
  padding-top:     10px;
  padding-bottom:  8px;
  hr {
    margin-bottom: 8px;
  }
  .txtLabel {
    margin-bottom: 2px;
  }
}

.form-subheader {
  font-size: 14px;
  & ~ hr {
    margin-top: 6px;
  }
}