@margin-bottom: -24px;
@margin-bottom-transition: margin-bottom 0.45s ease-in;

// Card 01: Data Input
.card-body#dataInputCard {
  padding-bottom: 22px;
  padding-top:    22px;

  #dataInput {
    &Form {
      margin-bottom: @margin-bottom;
      margin-left:   6px;
      margin-right:  38px;
      transition:    @margin-bottom-transition;

      &.invalid {
        margin-bottom: -12px;
      }

      &.valid {
        margin-bottom: @margin-bottom;
        transition:    @margin-bottom-transition;
      }
    }

    &Feedback {
      display:      block;
      padding-left: 3px;
    }

    &Status {
      float:   left;
      margin:  3px 0;
      padding: 0;
    }
  }
}