@import '../../../imports/colors.less';

// 02: Map Fields
.card-body#fieldMappingCard {
  // Equal-Length Labels
  .input-group {
    &-prepend {
      width: 132px;
    }
    &-text {
      width: 100%;
      span {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

.map-select {
  &.invalid {
    border-color: @moh-red-600;
  }
}
#mappingFeedbackText {
  color: @moh-blu-500;
  font-style: italic;
  font-weight: semi-bold;
  &.invalid {
    color: @moh-red-600;
  }
  &.valid {
    color: @moh-grn-800;
  }
}