@import '../../../imports/colors.less';

/* 04: Run Tool */
#runToolButton {
  background-color:   @moh-grn-800;
             color:   #f0f0f0;
  &:hover, &:focus {
    background-color: @moh-grn-700;
               color: @moh-wht-010;
  }
  &:active {
    background-color: @moh-grn-900;
    color:            @moh-wht-000;
  }
}

/*-----------------------*/
/*------- CONSOLE -------*/
/*-----------------------*/
.op {
  opacity: 0;
  height: 0;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
  &.show {
    height: 38px;
    opacity: 1;
  }
  &-status {
    margin:  3px 0;
    padding: 0;
    float:   left;
    &-img {
      opacity: 0;
      width:   24px;
      height:  24px;
      transition: opacity 0.75s ease-in-out;
      &.active {
        opacity: 1;
      }
    }
  }
  &-name {
    width: 100px;
    text-align: center;
  }
  .progress {
    &, &-bar {
      height: 20px;
    }
    &-bar {
      background-color: @moh-grn-800;
      &.skip {
        background-color: #F7F7F7;
        color: #1A1A1E;
        font-style: italic;
      }
      &.error {
        background-color: @moh-red-600;
        font-weight: bold;
      }
    }
  }
}

// Error Messages
.console, .output {
  &.error-message {
    font-family: 'Courier New', Courier, monospace;
    color:       @moh-red-600;
    font-style:  italic;
    text-align:  center;
  }
}

.console {
  &-field-name {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:       @moh-blu-900;
  }
  &-text {
    &-positive {
      color:       @moh-grn-800;
      font-style:  italic;
      font-weight: bold;
    }
    &-negative {
      color:       @moh-red-600;
      font-weight: bold;
    }
  }
}

