//==============================
// Variables
//==============================
  @icon-size: 64px;
  @animation-duration: 350ms;
//==============================
// File Output
//==============================
  .download-link {
    &, &-icon {
      height:     96px;
      width:      74px;
      opacity:    0;
      transition: opacity @animation-duration ease-in-out;
    }
    &.show, &.show .download-link-icon {
      opacity: 1;
    }
    &-icon {
      transition: box-shadow 250ms ease-in;
      box-shadow: 0 0 0 #999;
      &:hover, &:active, &:focus {
        box-shadow: 2px 2px 3px rgba(13,13,13,.5);
      }
    }
  }