@import "../../imports/colors.less";

#secureLoginBody {
  #main {
    border: 1px solid #60676b;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(19, 23, 26, 0.2);
    margin-top: 50px;
    max-width: 400px;
    padding: 20px;
  }
  .btn-primary {
    width: 70px;
    display: block;
    background-color: @moh-grn-800;
    border-color: @moh-grn-800;
    box-shadow: 2px 3px 3px rgba(19, 23, 26, 0.2);
    transition: background-color 0.25s, box-shadow 0.25s;
    &:focus,
    &:hover {
      background-color: @moh-grn-900;
      box-shadow: 3px 4px 4px rgba(19, 23, 26, 0.3);
    }
  }
}
