@moh-grn-700: #3fa56d;
@moh-grn-800: #29784d;
@moh-grn-900: #236641;

@moh-wht-000: #ffffff;
@moh-wht-010: #f0f0f0;

@moh-blu-900: #205081;
@moh-blu-500: #5381ab;

@moh-red-600: #f05b4f;
@moh-red-300: #e65b6f;

@moh-box-shadow-color-dark:   rgba(13,13,13,.5);
@moh-box-shadow-color-light:  #999;

@moh-icon-box-shadow:           @moh-box-shadow-color-light 1px 1px 2px;
@moh-tooltip-box-shadow:        @moh-box-shadow-color-dark  2px 2px 3px;
@moh-back-button-box-shadow:        @moh-box-shadow-color-dark  2px 2px 3px;
@moh-back-button-box-shadow-active: @moh-box-shadow-color-light  2px 3px 5px;